
body{
font-family: Georgia, 'Times New Roman', Times, serif;
color: #333;
font-size: 1.2rem;
line-height: 1.6em;
margin: 0;

}

h1{
    line-height: 1.0em;
    font-size: 2rem ;
    color: rgb(14, 161, 81);
    text-align: center;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
 }

 .header{
    background-color: #333;
    color: white;
    padding: 0.5rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
 }
 .header a{
    color: white;
    text-decoration: none;
    
 }
 .logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

 .navigation ul{
          margin: 0;
        padding: 0;
        list-style: none;
     }

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 8px;
}
.navigation ul li a:hover{
    background: rgb(30, 146, 80);
} 
.main { 
    padding-top: 6rem;

}

.logo{
    letter-spacing: 15px;
    font-size: 1.4em;
}

.menu-icon{
    display: none;
}
.footer{
    background: #494747;
    padding: 0em 0;
    text-align:center;
    margin-top: 4rem;
    color: white;
    
}


#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100px;
    width: 100%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 150%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}




#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    
}

.formulario__input, .formulario__label,
.formulario__submit {
 
 width: 100%;
 
 font-size: 1,3em ;
 }

.formulario__input{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

.formulario__label{
    padding-left: 15px;
}


   
@media (max-width: 767px){
    
.menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.navigation{
    width: 100%;
}

.navigation ul{
    display: none;
}

.navigation ul.show{
    display: block;
}


.navigation ul li{
  display: block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 8px;
}
.navigation ul li a:hover{
  background: rgb(51, 99, 72);
} 

}




@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

